#about {
  height: 200vh;
  @media (min-width:40em) {
    height: 100vh;
  }
}

#aboutCover {
  background-color: $primColor;
  height: 100vh;
}

#aboutCoverText {
  margin: 0 auto;
  position: relative;
  height: 90vh;

  #about_text {
    margin-top: 30vh;
    position: absolute;
    max-width:21em;
    left:10%;

    @media (min-width:40em){
      max-width:20em;
    }

    @media (min-width:57em){
      max-width:23em;
    }

  }

  #about_dot {
    width: 5em;
    position: absolute;
    top: 38vh;
    left:10%;
    margin-left: 16em;
    @media (min-width:57em){
        margin-left: 20em;
    }
  }
}

.aboutNav {
  width: 100%;
}

#aboutText {
  background-color: $light_grey;
  height: 100vh;

  p {
    text-align: center;
    color: $dark_grey;
    font-family: Avenir, Arial, Helvetica;
    font-size: 1.2em;

    @media (min-width:64em){
      font-size: 1.5em;
    }
  }

}

#text_wrap {
  margin-top: 20vh;
}

.button {
  color: $dark_grey;
  background-color: $light_grey;
  font-family: Avenir, arial, helvetica;
  border: 1px solid $primColor;
  font-size: 0.8em;
  line-height: 1em;
  -webkit-transition: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -ms-transition: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-transition: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
&:hover{
  background-color: $dark_grey;
  color: $light_grey;
}

}

#resumeCloseBtn
{position: absolute;
    top: 2%;
    right: 2%;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

#r_close_top{
  transform: rotate(45deg);
  transform-origin: left 50%;
  width: 20px;
  height: 2px;
  margin-bottom: 12px;
  background-color: $dark_grey;
}

#r_close_btm{
  transform: rotate(-45deg);
  transform-origin: left 50%;
  width: 20px;
  height: 2px;
  margin-bottom: 12px;
  background-color: $dark_grey;
}
