#contact {
  height:auto;
}

#stky_container_scnd {
  height: 100vh;
  margin-top: 0;
}

#contactCover {
  background-color: $primColor;
  height: 100vh;
}

#contactCoverText {
  margin: 0 auto;
  position: relative;
  height: 90vh;

  #contact_text {
    margin-top: 30vh;
    position: absolute;
    max-width:21em;
    left:10%;

    @media (min-width:40em){
      max-width:20em;
    }

    @media (min-width:57em){
      max-width:23em;
    }
  }

  #contact_dot {
    width: 5em;
    position: absolute;
    top: 35vh;
    left:10%;
    margin-left: 16em;

    @media (min-width:57em){
        margin-left: 20em;
    }
  }
}

#contact_wrap {
  background-color: $light_grey;
  height:60em;
}

#formHeader {
  background-color: $dark_grey;
  padding-top: 0.8em;
  text-align: center;
  height: 4em;

  p {
    color: $light_grey;
    font-family: Futura, Arial, Helvetica;
    font-size: 1.6em;
  }
}

#contactForm {
  height: 50em;
  padding-top: 5em;

  label {
    color: $dark_grey;
    font-size: 1em;
    font-family: Avenir, arial, helvetica;
    line-height: 1em;
    margin-top:2em;
  }

  input,
  textarea {
    background-color: $light_grey;
    border: 1px solid $primColor;
    line-height: 1.5em;
    margin-top: 0.5em;
  }

#basicInfo{
height:30em;
}

  #comments {
    resize: none;
  }

  #submit {
    display: block;
    float: right;
    width: 150px;
    color: $dark_grey;
    font-family: Avenir, arial, helvetica;
    font-size: 1em;
    line-height: 1.5em;
    -webkit-transition: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-transition: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -ms-transition: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-transition: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  #submit:hover {
    background-color: $dark_grey;
    color: $light_grey;
  }
}

#socialNav {
  height: 9em;
  background-color: $dark_grey;


  li {
    text-align: center;
      line-height: 3em;
      background-color: $dark_grey;
      margin:0.2em;

    a {
      color: $light_grey;
      font-family: Avenir, arial, helvetica;
      font-size: 1em;
      line-height: 1.6em;
      text-align: center;

      &:hover {
        color: $primColor;
        transition: 0.7s;
        -ms-transform: scale(1.1,1.1);
        /* IE 9 */
        -webkit-transform: scale(1.1,1.1);
        /* Safari */
        transform: scale(1.1,1.1);
        /* Standard syntax */
      }
    }


  }
}


.hideMsg
{
  display:none;

}
