.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

body {
  background-color: $dark_grey;
}

header {

  height: 80px;
}
#topBar{
  background-color: rgba(20, 20, 20, 0.2);
}

.mainLogo {
  padding-top: 10px;
  padding-bottom: 10px;

  a {
    color: $light_grey;
    text-align: center;
    width: 6em;
    line-height: 3em;
  }
}
@media(min-width:1024px) {
  #midNav {
    float: right;
  }
}

.navAbout,
.navContact,
.navHome,
.navWork {
  position: relative;

  a {
    color: $light_grey;
    text-align: center;
    width: 6em;
    line-height: 3em;
  }

  img {
    opacity: 0;
    transform: (0,1em);
  }
}

.dotHome {
  position: absolute;
  left: 4.1rem;
  top: 35px;
}

.navAbout:hover,
.navContact:hover,
.navHome:hover,
.navWork:hover {
  a {
    color: $light_grey;
    transform: scale(1.1, 1.1);
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }

  img {
    opacity: 1;
    transition: 0.7s;
    transform: (0,0);
    -webkit-transition: transform 0.7s ease-out,opacity 0.3s ease;;
    -moz-transition: transform 0.7s ease-out,opacity 0.3s ease;;
    -o-transition: transform 0.7s ease-out,opacity 0.3s ease;;
    transition: transform 0.7s ease-out,opacity 0.3s ease;;
  }
}

.dotAbout {
  position: absolute;
  left: 4.2rem;
  top: 35px;
}

.dotWork {
  position: absolute;
  left: 4.1rem;
  top: 35px;
}

.dotContact {
  position: absolute;
  left: 4.6rem;
  top: 35px;
}
