#work {
  height: 300vh;
  @media (min-width:40em) {
    height: 200vh;
  }
}

#workCoverText {
  margin: 0 auto;
  position: relative;
  height: 90vh;

  #work_text {
    margin-top: 30vh;
    position: absolute;
    max-width:21em;
    left:10%;

    @media (min-width:40em){
      max-width:20em;
    }

    @media (min-width:57em){
      max-width:23em;
    }
  }

  #work_dot {
    width: 5em;
    position: absolute;
    top: 38vh;
    left:10%;
    margin-left: 16em;
    @media (min-width:57em){
        margin-left: 20em;
    }
  }
}


#stky_container {
  height: 100vh;
  margin-top: 0;
}

#workCover {
  background-color: $secColor;
  height: 100vh;
}

#workBox {
  height: 200vh;
}

.work_item {
  height: 33.33vh;
  background-color: $dark_grey;
  width: 50vw;
  position: relative;

  h4 {
    font-family: futura, Arial, Helvetica;
    font-size: 1.8em;
    color: $secColor;
    margin-top: 20%;
    text-align: center;
    letter-spacing: 0.5em;

    @media (min-width: 40em){
      font-size: 2em;
    }
  }

  img {
    opacity: 0.15;
    position: absolute;
  }
}

.work_item:hover {
  background-color: $light_grey;
  -webkit-transition: background-color 0.7s ease-out;
  -moz-transition: background-color 0.7s ease-out;
  -o-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
}

#workBox {
  ul {
    list-style: none;
  }

  li {
    text-align: center;
  }
}

#parentLogo {
  overflow: hidden;

  img {
    top: 10%;
    right: 10%;
    width: 40%;
  }
}

  #crunican {
    overflow: hidden;

    img {
      top: -10%;
      left: 10%;
      width: 40%;
    }
  }

  #precise {
    overflow: hidden;

    img {
      top: 10%;
      right: 10%;
      width: 40%;
    }
  }

  #mona {
    overflow: hidden;

    img {
      top: 10%;
      width: 70%;
      left:15%;
    }
  }

  #oev {
    overflow: hidden;

    img {
      top: 10%;
      width: 70%;
      left:15%;
    }
  }

  #lor {
    overflow: hidden;

    img {
      top: 40%;
      width: 80%;
      left:10%;
    }
  }

  #crunican:hover,
  #lor:hover,
  #mona:hover,
  #oev:hover,
  #parentLogo:hover,
  #precise:hover {
    img {
      transform: scale(1.1, 1.1);
      -webkit-transition: transform 0.7s ease-out;
      -moz-transition: transform 0.7s ease-out;
      -o-transition: transform 0.7s ease-out;
      transition: transform 0.7s ease-out;
    }
  }
